*{margin:0px;padding: 0px;font-family: "微软雅黑"}

body{
    background-color: #fff;
}

.container{
  width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 57px;
/*  background-color: #ccc;*/
}

.i_1{
	display: inline-block; /* span标签必须用inline-block图片才能显示出来*/
	float: left;
	margin-left: 60px;
	margin-right: 14px;
	width: 31px;
	height: 31px;
	background: url(./task7_sprit.png) 0 -46px;
	margin-top: 13px;
}


header p{
  float: left;
  font: 21px/57px 黑体;

}

header ul{
  float: right;
  margin-right: 66px;
}

header li{
  float: left;
  display: block;
  margin-left: 50px;
  font: 14px/57px 微软雅黑;
  color: #787b83;
  cursor: pointer;
}

.i_2{
	display: inline-block; /* span标签必须用inline-block图片才能显示出来*/
	width: 14px;
	height: 17px;
	background: url(./task7_sprit.png) -40px -60px;
}
header li:nth-child(6){
  color: #e74f4d;
}

.sec-part1{
  width: 1280px;
  height: 690px;
  background: url(./task7_head.png);
}

.begin-button{
	width: 330px;
	height: 65px;
	background-color: #e74f4d;
	color: #fff;
	font-size: 30px;
	position: relative;
	left: 125px;
	top:430px;
	border: none;
	cursor: pointer;
}

.sec-part2{
    height: 250px;
    background-color: #aaa;
}
.sec-part3{
	height: 360px;
	background-color: #bbb;
}
.sec-part4{
	height: 340px;
	background-color: #ccc;
}
.sec-part5{
	height: 605px;
	background-color: #ddd;
}
.sec-part6{
	height: 568px;
	background-color: #eee;
}
.sec-part7{
	height: 520px;
	background-color: #bbb;
}
.sec-part8{
	height: 750px;
	background-color: #aaa;
}

footer{
	width: 1280px;
	height: 415px;
	background-color: #32353e;
}

.footer—1{
	height: 355px;
	position: relative;
}

.contact-us{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #fff;
}
.contact-us h2{
	margin-bottom: 20px; 
	font-size: 21px;
	font-family: 黑体;
}
.contact-us p{
	margin-bottom: 10px; 
	font-size: 12px;
	font-family: 宋体;
}

.contact-us input{
	width: 430px;
	height: 40px;
	border: none;
	padding-left: 10px;
	margin-top: 30px;
}

.contact-us button{
	width: 80px;
	height: 40px;
	font-size: 15px;
	color: #fff;
	border: none;
	outline: none;
	background-color: #6f7278;
	cursor: pointer;
	line-height: 40px;
}

.footer—2{
	height: 60px;
	background-color: #303039;
	font:12px/60px 宋体;
	color: #fff;
}

.footer—2 p:nth-child(1){
	float: left;
    margin-left: 100px;
}

.footer—2 p:nth-child(2){
	float: right;
    margin-right: 60px;
    cursor: pointer;
}