*{margin:0px;padding: 0px;font-family: "微软雅黑"}

body{
    background-color: #fff;
}

.all{
  width: 980px;
  height: 1386px;
  margin: 0 auto;
  background-color:#eee;
}

.wrap{
  margin: 0px 44px 0px 44px;

}