*{
  margin:0px;
  padding: 0px;
  font-family: "微软雅黑";
}

.wrap{
  margin:20px;
  padding: 20px;
  background-color: #eee;
  border:1px solid #999;
  overflow: hidden;  /*清除浮动，解决高度塌陷*/
}

.left{
  float: left;
  width: 158px;  /*宽度为内容+padding+border*/
  padding: 20px;
  background-color: #fff;
  border:1px solid #999;
}

.left span{
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.center{
  margin-left: 220px; /*左div浮动后，中间div到了最左边*/
  margin-right: 140px; 
  padding: 20px;
  background-color: #fff;
  border:1px solid #999;
}

.center p{
  padding-top: 5px;
  text-indent: 2em;
}


.right{
  float: right;
  text-align: center;
  width: 78px;
  padding: 20px;
  background-color: #fff;
  border:1px solid #999;
}

.right img{
  margin-bottom: 10px;
}
